h1 {
    font: 25px;
    color: black;
    text-align: center;
    text-decoration: none;
}

body {
    background-color: white;
}


}

.main-nav {

    float: inherit;
    list-style: none;
    margin-top: 30px;
}



.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 90px;
    background-color: black;
    font-family: sans-serif
}

.main-nav :hover {
    background-color: orangered;
}





figure {
    float: left;
    width: 100%;
    padding: 70px;
    margin: 70px;


}








.currentPage {
    float: right;
    font-size: 20px;
    font-family: sans-serif;
    color: black;
}

.f {
    font-size: 20px;
    font-family: sans-serif;
    color: black;

}

p {
    font-size: 24px;
    font-family: sans-serif, monospace;
    text-align: center;

}
